/* ==============================
   Calendar Image
============================== */
.calendar-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-top: 20px;
}

/* ==============================
   Button Section
============================== */
.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Buttons */
.btn {
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
}

.save-btn {
  background-color: #555;
}

.save-btn:hover {
  background-color: #444;
}

.submit-btn {
  background-color: #7a42b1;
}

.submit-btn:hover {
  background-color: #612e86;
}

.exit-btn {
  background-color: #555;
}

.exit-btn:hover {
  background-color: #444;
}